.tabs-container {
  border: #E6E6E6 1px solid;
  margin: 30px;
  padding: 5px;
  border-radius: 5px;
}

.tabs {
  display: flex;
}

.tab-buttons button {
  margin-right: 15px;
  font-size: 20px;
  border: 0;
  background: transparent;
  padding: 10px 20px;
  cursor: pointer;
  color: #a1a1a1;
  height: 50px;
}

.tab-buttons.active button {
  color: black;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #f5f5f5
}

.tab-content {
  padding: 15px;
  background-color: #f5f5f5;
  border-radius: 5px;
  border-top-left-radius: 0;
}

.tab-buttons.disabled {
  cursor: not-allowed;
  pointer-events: none;
}